.login-container {
    margin-top: 250px;
}

.fa-times-circle {
    color: #dc3545;
}

.fa-check, .fa-check-circle, .fa-twitter-square, .new-text, .approved-circle {
    color: #28a745;
}

.home-icons {
    color: #1DA1F2 !important;
}

    .home-icons:hover {
        color: #1a90da;
        cursor: pointer;
    }

.tweet {
    cursor: pointer;
    background-color: #1DA1F2 !important;
    border-color: #1DA1F2 !important;
}

    .tweet:hover:not([disabled]) {
        background-color: #0488D9 !important;
        border-color: #0488D9 !important;
    }

    .tweet:disabled {
        cursor: not-allowed;
    }

.twitter, .fa-microsoft {
    color: #1DA1F2;
}

.border-common {
    border: 1px solid rgba(0,0,0,.125);
}

.settings-pane {
    margin: -.8rem -1.3rem !important;
}

    .settings-pane .fas,
    .settings-pane .collapse {
        cursor: pointer;
    }

#redirect-card {
    margin-top: 50px;
}

.fa-exclamation-triangle {
    color: #ffc107;
}

.fa-compress {
    color: #d4d4d4;
}

    .fa-compress:hover {
        color: #a8a8a8;
    }

.fa-user, .fa-calendar-alt {
    color: #2b2b2b;
}

.fa-clock, .fa-toggle-off {
    color: gray;
}

.fa-toggle-on {
    color: #007bff;
}

.wrapped {
    word-wrap: break-word;
}

.scroll-group {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .7) !important;
}

.trash-hover:hover, .fa-calendar-alt:hover {
    color: #a1a1a1;
    cursor: pointer;
}

.thumbnail-item:hover {
    background-color: #ebebec;
}

.main-container {
    margin-top: 150px;
}

.fa-react {
    color: #dbdbdb;
}

.fa-user, .fa-clock, .fa-check, .fa-times-circle, .fa-toggle-on, .fa-toggle-off, .fa-calendar-alt, .badge {
    vertical-align: middle;
}

#wait-tweet {
    vertical-align: middle;
}

.not-approved-circle {
    color: #a1a1a1;
}

.cal-badge {
    background-color: #1a3c94;
}

.cal-twitter {
    color: #1DA1F2;
}

.rbc-event-label {
    display: none;
}

.cal-approve {
    color: black;
    cursor: pointer;
}

.cal-approve:hover {
    background-color: #d39e00;
}

.nav-background {
    background-color: #2a57cc;
}

.fa-windows {
    color: white;
}

.nav-link-cust:hover {
    color: white;
}

.public-calender-disabled {
    cursor: not-allowed !important;
    color: #6fc3f7
}

.public-calender-disabled:hover {
    color: #6fc3f7
}

.public-calendar {
    color: #1DA1F2;
    cursor: pointer;
}

.public-calendar:hover {
    color: #6fc3f7;
    cursor: pointer;
}
.template-input {
    margin:10px
    
}
